<div class="row justify-content-center"> 
  <div *ngFor="let feature of features" class="col-md-4 mb-4">
    <div class="card info-card border-0 shadow-sm h-100">
      <div class="card-body text-center">
        <h5 class="card-title">{{ feature.name }}</h5>
        <ng-container *ngIf="feature.nivel_del_agua !== undefined">
          <div class="card-text">
            <!-- Contenedor que agrupa la imagen del tinaco y la barra -->
            <div class="tinaco-wrapper">
              <!-- Imagen del tinaco -->
              <link rel="stylesheet" href="" />
              <a routerLink="/tinaco/{{ feature.id }}"
                >
                <img
                  class="tinaco-image"
                  src="/assets/rotoplaz.png"
                  alt="Imagen del tinaco"
                />  
              </a>

              <!-- Barra a la derecha del tinaco -->
              <div class="bar-container">
                <div
                  class="bar-fill"
                  [ngStyle]="{
                    height: getBarHeight(feature.nivel_del_agua),
                    'background-color': getColor(feature.nivel_del_agua)
                  }"
                ></div>
              </div>
            </div>

            <p>Nivel del agua: {{ feature.nivel_del_agua }}%</p>
          </div>
        </ng-container>
        <ng-container *ngIf="feature.description !== undefined">
          <p class="card-text">{{ feature.description }}</p>
        </ng-container>
      </div>
    </div>
  </div>
</div>
